.select-page.active {
  display: flex;
}

.slider-btn-bg-vector {
  left: -20px;
  top: 30px;
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}



.swiper-pagination-bullet {
  width: 10px !important;
  height: 5px !important;
  background-color: rgb(71, 71, 71) !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

.variteks-about-right {
  background: url("../images/mainPage/man-566x550.png") no-repeat center;
}

.new-product-page .new-product-left {
  background: url("../images/navbar/section-c-left-overlay.png") no-repeat center;
}

.blog-main {
  background: url(../images/mainPage/Blog_Banner.jpg) no-repeat left;
  background-size: cover;
}

.product-category {
  background: url(../images/mainPage/Urunlerimiz_Banner.jpg) no-repeat left;
  background-size: cover;
}

.drop-dawn-message.active {
  display: flex;
}

.drop-dawn-message-box.active {
  transform: scale(1);
}

footer {
  background: url(../images/footer/footer.png) no-repeat center;
  background-size: cover;
  color: #fff;
}

footer a {
  color: #fff;
}

.select-page a:hover {
  color: red !important;
}

nav.active {
  background-color: white;
}

nav.active .nav-menu {
  color: black;
}

.swiper-button-prev, .swiper-button-next {
  background-color: #fff;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  box-shadow: 0 0 5px 2px gray;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 16px !important;
  color: #000 !important;
}